@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body{
  background-position: center;
  filter:alpha(opacity=50);
  color:#fab92d;
  background-color:#1f1f1f;
  padding:10px;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  
}

body::-webkit-scrollbar {
  width: 0;
}

.container {
  text-align: center;
  width: 300px;
  font-family: Poppins;
  font-weight: 400;
}

p{
  position: relative;
  white-space: nowrap;
  animation: floatText 3s infinite alternate ease-in-out;
}

@keyframes floatText{
  from {
    left: -10%;
  }

  to {
    /* left: auto; */
    left: 10%;
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}

img {
  width: 60%;
  margin: auto;
  display: block;
}

.container h1{
  font-family: Poppins;
  font-weight: 900;
  text-transform: uppercase;
  user-select: none;
}


.button.button {
  cursor: pointer;
  border-radius: 32px;
  padding: 3px 10px;
  width: 91%;
  height:30px;
  background-color: gray;
  color: white;
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 0;
}

.button.button:last-child {
  margin-bottom: 0;
}

.button.button-success {
  background-color: #1a73e8;
}
.button.button-success:hover {
  background-color: #174ea6;
}

.button.button-warning:hover {
  background-color: rgb(63, 62, 62);
}

.button2.button2 {
  cursor: pointer;
  border-radius: 32px;
  padding: 3px 10px;
  width: 91%;
  height:30px;
  background-color: gray;
  color: white;
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 0;
}

.button2.button2:last-child {
  margin-bottom: 0;
}

.button2.button2-success {
  background-color: #f02106ad;
}
.button2.button2-success:hover {
  background-color: #8f0707;
}

.button2.button2-warning:hover {
  background-color: rgb(63, 62, 62);
}

.button3.button3 {
  cursor: pointer;
  border-radius: 32px;
  padding: 3px 10px;
  width: 91%;
  height:30px;
  background-color: gray;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 0;
}

.button3.button3:last-child {
  margin-bottom: 0;
}

.button3.button3-success {
  background-color: #00ff15ad;
}
.button3.button3-success:hover {
  background-color: #0c7a15;
}

.button3.button3-warning:hover {
  background-color: rgb(63, 62, 62);
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
} 

.custom-file-input::before {
  text-align: center;
  content: 'â Subir una imagen';
  background-color: #ffffff;
  border-radius: 32px;
  padding: 3px 45px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.custom-file-input:hover::before {
  background-color: #b1b2b3;
}
.custom-file-input:active::before {
  background-color: #ffffff;
}


.fab:hover{
  color: #428dd3;
}
.fab{
  font-size :2em;
  cursor: pointer;
  transform:background 0.2 ease-in-out;
  transition-duration: 0s;
  margin:3px;
}

input,
span,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  color: rgb(255, 208, 0);
  width: 99%;
  background: rgba(131, 189, 228, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid #2684fb;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

@keyframes blink {
  /* animation: blink 4s infinite; */
  100%,0%{
    background: rgb(255, 121, 121);
  }
  8%{
    background: rgb(255, 189, 124);
  }
  16%{
    background: rgb(255, 255, 131);
  }
  25%{
    background: rgb(189, 255, 122);
  }
  33%{
    background: rgb(116, 255, 116);
  }
  41%{
    background: rgb(123, 255, 189);
  }
  50%{
    background: rgb(126, 255, 255);
  }
  58%{
    background: rgb(125, 190, 255);
  }
  66%{
    background: rgb(121, 121, 255);
  }
  75%{
    background: rgb(191, 127, 255);
  }
  83%{
    background: rgb(255, 125, 255);
  }
  91%{
    background: rgb(255, 126, 190);
  }
}

input.question:focus + label,
textarea.question:focus + label {
  width: 100%;
  border-top: 1px solid red;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -63px;
  font-size: 18px;
  color: rgb(255, 166, 0);
  display:block;
  font-family: monospace;
  border-right: 0px solid;
  width: 18ch;
  animation: typing 2s steps(12);
  overflow: hidden;
}

@keyframes typing {
  from { width: 0}
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 20px;
  color: rgb(250, 250, 250);
}

input.question:valid + label,
/*
textarea.question:valid + label {
  border-color: #00eb00;
}
*/

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #ffffff78;
  font-size: 20px;
  top: -33px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #ffffffbf;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.input-icons i {
  position: absolute;
}


.icon {
  padding: 2px;
  min-width: 2px;
}

input,
output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

output {
  background: #1a73e8;
  padding: 5px 16px;
  border-radius: 3px;
  color: #fff;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 150px;
  height: 2px;
  background: #fff;
  animation: blink 2s infinite;
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #1a73e8;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #1a73e8ad;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #1a73e8ad;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #174ea6;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #174ea6;
}

input[type="range"]::-ms-thumb:hover {
  background: #174ea6;
}
